
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;}

h1 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;}
 
h2 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;}

h3 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;}

h4 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                margin: 0;
                padding: 0;
                text-align: center;}


.divteste {
/* propriedades decorativas */
border: solid 1px black;
display: inline-block;
font-size: 32px;
font-family: Arial;
/* propriedades que fazem o "problema" */
width: 100px;
height: 110px;
overflow: hidden;
border-style: 15px;
margin: 15px;
padding: 15px;
}

.link1:hover {
color: rgb(255, 242, 0);
}
 
.link1:active {
color: rgb(235, 67, 67);

}

.link1:focus {
    border-style:solid;
border-color: rgb(201, 56, 184);}