

@font-face {
    font-family: 'Montserrat'; /* Nome que você irá usar para se referir à fonte */
    src: url('font/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff'); /* Caminho para o arquivo da fonte e formato */
  }

 

.logosite {
    display:block ;

    
}

.cabecalho {
   background-color: rgb(252,246,234);
    font-family: 'montserrat';
    font-size: 17px;
    color: rgba(57, 77, 59, 1);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

.navbar {
    color: rgba(57, 77, 59, 1);
    text-decoration: none;
}


.content {
    background-color:rgba(241, 236, 227, 1) ;
    display: flex;
   flex-direction: column;
}


.porondecomecar { 
    background-image: url(Image/banner\ 1.png);
    background-size: cover;
    background-position: center; 
    width: 1440px;
    height: 800px;
    position: relative; /* Adicione esta propriedade para tornar o posicionamento relativo ao contêiner pai */
}

.tituloparte1 {
    color: #f4f4f4;
    font-family: 'Montserrat';
    font-weight:800 ; /* Substituí font-style por font-weight */
    font-size: 90px;
    line-height: 0.9;
   letter-spacing: 2px;
    position: absolute;
    top: 30%; /* Ajuste conforme necessário */
    left: 6%;
    text-align: left;
    width: 647px;
    height: 220px;
}

.textoparte1 {
    font-family: 'Montserrat';
    font-size: 18px;
    position: absolute;
    line-height: 2;
   letter-spacing: 1px;
    top: 61%;
    left: 6%;
    text-align: left;
    color: #f4f4f4;
}

.botaoparte1 {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 15px;
   background-color: rgba(92, 115, 94, 1);
    position: absolute;
    top: 80%; /* Ajuste conforme necessário */
    left: 6%;
    width: 281px;
    height: 55px;
    border-radius: 5px
    
}

.tituloparte2 {
    font-size: 20px;
    font-family: 'Montserrat';
    font-style: bold;
    font-size: 56px;
    color: rgba(186, 132, 93, 1);
  
}


.videos {

    background-color: rgb(252,246,234);
    font-family: 'Montserrat';
    font-size: 17px;
    color: rgba(57, 77, 59, 1);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.botaoparte2{
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 15px;
   background-color: rgba(92, 115, 94, 1);
    
    
}

.caixamochila {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 573px;
    width: 100%;
    background-color: rgba(92, 115, 94, 1);
}

.mochila {
    position: relative;
    height: 573px;
    border: 1px solid #ccc;
    overflow: hidden; /* Para esconder o overflow das caixas */
}

.caixa1 {
    position: absolute;
    width: 660px;
    height: 482px; /* Ajuste conforme necessário */
    background-color: rgba(186, 132, 93, 1); /* Cor de fundo da caixa, ajuste conforme necessário */
}

.caixa1 {
    top: 0;
}


.mochila img {
    max-width: 503px;
    max-height: 503px;
    z-index: 1; /* Garante que a imagem fique sobre as caixas */
}


.tituloparte3 {
    font-size: 20px;
    font-family: 'Montserrat';
    font-style: bold;
    font-size: 56px;
    color: rgba(186, 132, 93, 1);

}


.juntese {
    background-color: rgb(252,246,234);
    font-family: 'Montserrat';
    font-size: 17px;
    color: rgba(57, 77, 59, 1);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.newsletter { 
    
    background-color: rgb(252,246,234);
    font-family: 'Montserrat';
    font-size: 17px;
    color: rgba(57, 77, 59, 1);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: rgb(252,246,234);
    font-family: 'Montserrat';
    font-size: 17px;
    color: rgba(57, 77, 59, 1);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}